<div class="container-fluid leftColumn">
    <div class="row">
        <div class="col-md-4 col-12 text-center my-auto">
            <span class="but">
                <h4>Spin The Wheel To Know Your Feature</h4>
                <button class="btn btn-primary" (click)="spinWheel()">Spin The Wheel</button>&nbsp;
            </span>
        </div>
        <div class="col-md-8 col-12">
            <div id="analog-clock-canvas">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirm" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="noDataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header" style="background-color:lightgrey">
                <h5 class="modal-title" id="noDataModalLongTitle">*Hurray*</h5>
            </div>
            <div class="modal-body">
                <i class="fa fa-check-circle"></i>
                You have <span class="selectedText">{{numbers[selectedIndex]}} </span>to classify! <br> Please see the
                tutorial.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="featureSelected()">Continue</button>
            </div>
        </div>
    </div>
</div>