.mediaImage {
    height: 220px;
    width: 270px;
}
.media {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.container-fluid {
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 10px;
    }
}
.heading {
    font-size: 24px;
}

.header-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.continue-btn {
    margin-top: 15px;
}

// Zoom modal